# Python
__pycache__/
*.py[cod]
*.sqlite3
*.db
*.db-journal
.env
!frontend/.env.production
.venv/

# VSCode
.vscode/

# Pytest cache
.pytest_cache/

# virtual environment for windows
Scripts/

# Backups generados por el sistema
backups/

# Frontend
frontend/node_modules/
frontend/dist/
